<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <a href="#" class="brand">My blog</a>
    <ul class="nav pull-right">
      <li><a>New Post</a></li>
    </ul>
  </div>
</div>

<div>
  <h1>{{ mainCtrl.title }}</h1>


  	<div ng-repeat="pregunta in mainCtrl.dataPreguntas">
  
  		<p> {{pregunta.descripcion}}</p>
	  <md-radio-group ng-model="mainCtrl.respuestasMarcadas[pregunta.id].resp" 
    ng-click="mainCtrl.logRespuesta(pregunta)">

	        <md-radio-button  ng-repeat="respuesta in mainCtrl.dataRespuestas" ng-value="respuesta.id" aria-label="{{ respuesta.descripcion }}">
	            {{ respuesta.descripcion }}
	        </md-radio-button>

	    </md-radio-group>

	</div>
</div>