

<md-tabs selected='mainCtrl.selectedTab'>
   <md-tab label="Datos Encuesta" >
	<form name="nuevaEncuestaForm" style="padding: 20px;" ng-submit="nuevaEncuestaForm.$valid && mainCtrl.crearEncuesta()" novalidate >
	
	<section>
	        			    
	<div layout="vertical" layout-sm="horizontal" layout-padding>
		<div flex>
			<div layout="vertical">
	        	<div flex>
		        	
		        	<md-toolbar >
		      		<h2 class="md-toolbar-tools">
		        	
		        	<span>Datos del Tramite</span>
		        	</h2>
		    		</md-toolbar>
	    			
	    		</div> 
	    		<div flex>
				  <md-content>
				    <div>
				        <md-text-float name="fechaTramite" label="Fecha Tramite" ng-model="mainCtrl.fechaTramite" type="date" required></md-text-float>
				        <span class="alert alert-danger" ng-show="submitted && !nuevaEncuestaForm.$valid"> Fecha de Tramite Requerida! </span>
				        <label for="HoraTramite" class="md-input-group">Hora Tramite:   </label>
				        <select  id="HoraTramite" ng-model="mainCtrl.horarioTramite" ng-options="horario.descripcion for horario in mainCtrl.dataHorarios" required>
				    		
				  		</select> 
				  		<label for="modulo" class="md-input-group">Modulo Tramite:   </label>
				  		<select  id = "modulo" ng-model="mainCtrl.moduloTramite" ng-options="modulo.descripcion for modulo in mainCtrl.dataModulos" required>
				    	</select>
				      </div>
				  </md-content>
				</div>
			</div>
		      	
		</div>

	    <div flex>
	    	<div layout="vertical">
	    		<div flex>
		        	<md-toolbar>
		      		<h2 class="md-toolbar-tools">
		        	<span>Datos del Encuestado (opcionales)</span>
		      		</h2>
		    		</md-toolbar>
		    	<div>
		    	<div flex>
				  <md-content>
				    <div>
					    <md-text-float label="Nombre" ng-model="mainCtrl.nombrePersona">
					    </md-text-float>
					        <md-text-float label="Edad" ng-model="mainCtrl.edadPersona" type="number">
					    </md-text-float>
					        <md-text-float label="Telefono" ng-model="mainCtrl.telefonoPersona">
					    </md-text-float>
					    
					</div>
				  </md-content>
				</div>
			</div>	
	    </div>
	</div>
		
	</section>


	<div layout = "horizontal" layout-sm="vertical" layout-align="center center">
		<div flex>
			<md-button class="md-raised md-primary" aria-label="Llenar Encuesta" type="submit" ng-click="submitted=true">
	   		 Llenar Encuesta Satisfaccion
	 		</md-button>
		</div>
	</div>
</form>
</md-tab>

<md-tab label="Responder Encuesta" ng-disabled='!mainCtrl.encuestaCreada'>
	<llenar-encuesta ng-show="mainCtrl.encuestaCreada"> </llenar-encuesta>
</md-tab>

<md-tab label="Sugerencias" ng-disabled='!mainCtrl.encuestaCreada'>
	<sugerencias-encuesta registrar-sugerencias='mainCtrl.actualizarSugerencias()' texto-sugerencias='mainCtrl.textoSugerencias'></sugerencias-encuesta>
	
</md-tab>

</md-tabs>

  <div>Icons made by Yannick from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>         is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>

